################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LeetCode/v15/.suo
/.vs/LeetCode/v15/Browse.VC.db
/.vs/LeetCode/v15/Browse.VC.opendb
/.vs/LeetCode/v15/ipch/AutoPCH/400e00a41c70e52a/0002ADDTWONUMBERS.ipch
/.vs/LeetCode/v15/ipch/AutoPCH/acb4fa0b5ef3bbc5/MAIN.ipch
/x64/Debug/vc141.pdb
/x64/Debug/vc141.idb
/x64/Debug/main.obj
/x64/Debug/LeetCode.tlog/link.write.1.tlog
/x64/Debug/LeetCode.tlog/link.read.1.tlog
/x64/Debug/LeetCode.tlog/link.command.1.tlog
/x64/Debug/LeetCode.tlog/LeetCode.lastbuildstate
/x64/Debug/LeetCode.tlog/CL.write.1.tlog
/x64/Debug/LeetCode.tlog/CL.read.1.tlog
/x64/Debug/LeetCode.tlog/CL.command.1.tlog
/x64/Debug/LeetCode.pdb
/x64/Debug/LeetCode.log
/x64/Debug/LeetCode.ilk
/x64/Debug/LeetCode.exe
/LeetCode.vcxproj.user
/LeetCode.vcxproj
/LeetCode.sln
